header
  nav.navbar.navbar-expand-lg.bg-dark
    .container-fluid
      a.navbar-brand(href="#" class="text-white")
        | PeliculaMania 
        i.fas.fa-film
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarText
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current="page", href="/movies" class="text-white") Peliculas
          li.nav-item
            a.nav-link(href="#" class="text-white") Categorias
          li.nav-item
            a.nav-link(href="#" class="text-white") Ranking
        a.nav-link(href="#" class="text-white")
          | Login Register
